<div class="col-xs-offset-1">
		<div class="item-image">
			<%= image_tag(@item, :image, fallback: "no_image.jpg",size: "300x217" ) %>
		</div>
	</div>
	<div class="col-xs-5">
		<div class="detail">
			<h2><%= @item.name %></h2>
			<p><%= @item.explanation %></p>
			<h3 class="item-price">￥<%= (@item.price * 1.1).to_i %><span>（税込）</span></h3>
		</div>
		<div>
      <%= render "item_comments/index", item: @item %>
      <%= render "item_comments/form", item: @item, item_comment: @item_comment %>
    </div>
	</div>
</div>